<template>
  <div>
    <el-container>
      <el-main>
        <el-row>
          <h1>Deichbrand 2019 Checkliste</h1>
        </el-row>
        <el-row>
          <el-input placeholder="Dein Name" v-model="name"></el-input>
        </el-row>
        <el-row>
          <h3>Das haben wir:</h3>
        </el-row>
        <el-row>
          <el-table :data="items" style="width: 100%" empty-text="Leer">
            <el-table-column prop="desc" label="Artikel" width="180"></el-table-column>
            <el-table-column prop="name" label="Name" width="180"></el-table-column>
          </el-table>
        </el-row>
        <el-row>
          <h3>Das brauchen wir:</h3>
          <small>(Anklicken, wenn du es mitbringst)</small>
        </el-row>
        <el-row>
          <el-table :data="needs" style="width: 100%" empty-text="Leer">
            <el-table-column width="55">
              <template slot-scope="scope">
                <el-checkbox v-model="checked[scope.row.id]"></el-checkbox>
              </template>
            </el-table-column>
            <el-table-column prop="desc" label="Artikel" width="150"></el-table-column>
            <el-table-column width="55">
              <template slot-scope="scope">
                <el-button
                  type="danger"
                  icon="el-icon-delete"
                  size="mini"
                  circle
                  @click="removeItem(scope.row.id)"
                ></el-button>
              </template>
            </el-table-column>
          </el-table>
          <div style="margin-top: 20px">
            <el-button type="success" size="mini" @click="changeItems">Bringe ich mit (Auswahl)</el-button>
            <br>
            <small style="color: red;">{{error}}</small>
          </div>
        </el-row>
        <el-row>
          <h3>Hinzufügen:</h3>
        </el-row>
        <el-row>
          <el-input placeholder="Artikelname" v-model="newitem"></el-input>
        </el-row>
        <el-row>
          <el-button type="success" style="margin-top: 1%;" size="mini" @click="addItem">Hinzufügen</el-button>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  data() {
    return {
      error: "",
      newitem: "",
      name: "",
      api: "/api",
      items: [],
      needs: [],
      checked: {}
    };
  },
  methods: {
    changeItems() {
      if (this.name.length < 1) {
        this.error = "Bitte gib deinen Namen an";
        return;
      }
      this.error = "";
      let updates = [];
      for (let i in this.checked) {
        if (this.checked[i]) {
          updates.push(this.needs.find(x => x.id === i));
        }
      }
      updates = JSON.parse(JSON.stringify(updates));
      for (let u of updates) {
        u.need = false;
        u.name = this.name;
      }
      axios.put(`${this.api}/items`, { items: updates }).then(res => {
        if (res.status === 200) this.getItems();
        else {
          this.$notify.error(`Fehler bei der Datenbankverbindung`);
        }
      });
    },
    getItems() {
      axios.get(`${this.api}/items`).then(res => {
        if (res.status === 200) {
          let tmp = res.data;
          this.items = tmp.filter(x => x.need === false);
          this.needs = tmp.filter(x => x.need === true);
          this.checked = {};
          for (let need of this.needs) this.checked[need.id] = false;
          this.checked = JSON.parse(JSON.stringify(this.checked));
        } else {
          this.$notify.error(`Fehler bei der Datenbankverbindung`);
        }
      });
    },
    addItem() {
      if (this.newitem.length < 1) return;
      axios.post(`${this.api}/items`, { name: this.newitem }).then(res => {
        if (res.status === 200) {
          this.getItems();
          this.newitem = "";
        } else {
          this.$notify.error(`Fehler bei der Datenbankverbindung`);
        }
      });
    },
    removeItem(id) {
      axios.delete(`${this.api}/items/${id}`).then(res => {
        if (res.status === 200) this.getItems();
        else {
          this.$notify.error(`Fehler bei der Datenbankverbindung`);
        }
      });
    }
  },
  beforeMount() {
    this.getItems();
  }
};
</script>

<style>
* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
</style>





